---
title: "Project Two | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/project-two/"
bannerImage: "/assets/images/cabinets.jpg"
bannerImageAlt: "library"
galleryImage1: "/assets/images/portfolio/port1.jpg"
galleryImage1Alt: "new hallway"
galleryImage2: "/assets/images/portfolio/port4.jpg"
galleryImage2Alt: "new home construction"
galleryImage3: "/assets/images/portfolio/port7.jpg"
galleryImage3Alt: "building a new wall"
galleryImage4: "/assets/images/portfolio/port2.jpg"
galleryImage4Alt: "new kitchen"
galleryImage5: "/assets/images/portfolio/port5.jpg"
galleryImage5Alt: "apartment addition"
galleryImage6: "/assets/images/portfolio/port8.jpg"
galleryImage6Alt: "kew kitchen cabinets"
galleryImage7: "/assets/images/portfolio/port3.jpg"
galleryImage7Alt: "new black window structure"
galleryImage8: "/assets/images/portfolio/port6.jpg"
galleryImage8Alt: "kitchen rebovation"
galleryImage9: "/assets/images/portfolio/port9.jpg"
galleryImage9Alt: "bathroom renovation"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title" data-editable="source" data-path="src/content/pages/project-two.html" data-key="banner-title">Project Two Gallery</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/project-two/" class="cs-link cs-active">Project Two Gallery</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl bannerImage | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl bannerImage | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl bannerImage | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl bannerImage | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl bannerImage | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl bannerImage | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl bannerImage | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl bannerImage | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl bannerImage | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl bannerImage | resize({ width: 2500, height: 628 }) | jpeg %}" alt="{{ bannerImageAlt }}" width="1920" height="482" loading="eager" decoding="async" data-editable="image" data-prop-src="bannerImage" data-prop-alt="bannerImageAlt">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-48">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper" data-editable="source" data-path="src/content/pages/project-two.html" data-key="gallery-topper">Our Portfolio</span>
                <h2 class="cs-title" data-editable="source" data-path="src/content/pages/project-two.html" data-key="gallery-title">Et orci volutpat, back up generator installations</h2>
            </div>
            <div class="cs-image-group">
                <div class="cs-row cs-row-1">
                    <!-- Row 1-->
                    <picture class="cs-picture cs-picture-1">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage1 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage1 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage1 }}" alt="{{ galleryImage1Alt }}" width="420" height="567" data-editable="image" data-prop-src="galleryImage1" data-prop-alt="galleryImage1Alt">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage2 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage2 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage2 }}" alt="{{ galleryImage2Alt }}" width="420" height="630" data-editable="image" data-prop-src="galleryImage2" data-prop-alt="galleryImage2Alt">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage3 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage3 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage3 }}" alt="{{ galleryImage3Alt }}" width="420" height="512" data-editable="image" data-prop-src="galleryImage3" data-prop-alt="galleryImage3Alt">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture-1">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage4 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage4 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage4 }}" alt="{{ galleryImage4Alt }}" width="420" height="492" data-editable="image" data-prop-src="galleryImage4" data-prop-alt="galleryImage4Alt">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage5 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage5 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage5 }}" alt="{{ galleryImage5Alt }}" width="420" height="517" data-editable="image" data-prop-src="galleryImage5" data-prop-alt="galleryImage5Alt">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage6 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage6 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage6 }}" alt="{{ galleryImage6Alt }}" width="420" height="629" data-editable="image" data-prop-src="galleryImage6" data-prop-alt="galleryImage6Alt">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture-1">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage7 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage7 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage7 }}" alt="{{ galleryImage7Alt }}" width="420" height="625" data-editable="image" data-prop-src="galleryImage7" data-prop-alt="galleryImage7Alt">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage8 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage8 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage8 }}" alt="{{ galleryImage8Alt }}" width="420" height="452" data-editable="image" data-prop-src="galleryImage8" data-prop-alt="galleryImage8Alt">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                        <source media="(max-width: 600px)" srcset="{{ galleryImage9 }}">
                        <source media="(min-width: 601px)" srcset="{{ galleryImage9 }}">
                        <img loading="lazy" decoding="async" src="{{ galleryImage9 }}" alt="{{ galleryImage9Alt }}" width="420" height="629" data-editable="image" data-prop-src="galleryImage9" data-prop-alt="galleryImage9Alt">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/contact/" class="cs-button-solid" data-editable="source" data-path="src/content/pages/project-two.html" data-key="gallery-button">Get Started</a>
        </div>
    </section>

    {% include 'sections/cta.html' %}

{% endblock %}
